<div class = "jumbotron text-center" style = "background: black; " id = 'head'>
    <h1 style = "color:#eeeeee;">About</h1>
</div>
<!--<div class = 'jumbotron content-exterior' style = "background-color: red; margin-bottom: 0;">-->
        
        
        <!--<div class = "container" id = 'about-container'>-->
        <!--    <div id = 'about-button'>    -->
        <!--        <%= link_to about_path, class: 'btn' do %>-->
        <!--            About the Author-->
        <!--        <% end %>-->
        <!--    </div>    -->
        <!--</div>-->
        
        
        
    <!--</div>-->
    
    <div class = 'container content'>
        <p>I am Matt Schaefer, a third-year at The Ohio State University, and I study German and
        Computer Science.  I enjoy web development, speaking German, writing, humor, music, time with 
        friends, and some other things, too.</p> 
        <p>I am always trying to be better. <br>  All inqueries: matthew.schaefer12@gmail.com</p>
        
    </div>