<div class = "jumbotron text-center" style = "background: black; " id = 'head'>
    <h1 style = "color:#eeeeee;">About</h1>
</div>
<div class = 'jumbotron content-exterior' style = "background-color: red; margin-bottom: 0;">
        <div class = 'container content'>
            
        </div>
        
        <div class = "container" id = 'about-container'>
            <div id = 'about-button'>    
                <%= link_to about_path, class: 'btn' do %>
                    About the Author
                <% end %>
            </div>    
        </div>
        
    </div>