<div class = "jumbotron text-center" style = "background: black; " id = 'head'>
    <h1 style = "color:#eeeeee;">Adjective Endings</h1>
</div>

<div class = 'jumbotron content-exterior' style = "background-color: red; margin-bottom: 0;">
        <div class = 'container content'>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            <p>aaaaaaaaaaaaaa</p>
            
            <ul>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
                <li>abced</li>
            </ul>
        </div>
        
        <div class = "container" id = 'about-container'>
            <div id = 'about-button'>    
                <%= link_to about_path, class: 'btn' do %>
                    About the Author
                <% end %>
            </div>    
        </div>
        
    </div>

