<div class = "jumbotron text-center" style = "background: black; " id = 'head'>
    <h1 style = "color:#eeeeee;">Basic Skills</h1>
</div>
<!--<div class = 'jumbotron content-exterior' style = "background-color: red; margin-bottom: 0;">-->
        <div class = "container">
            <h2>Simple Sentences</h2>
        </div>
        <div class = 'container content'>
            <p>German sentences are a lot like English sentences: they, too, 
            must form a complete thought or idea, and comprise of usually 
            multiple words.  Let's take a look at a few pairs of english and 
            german sentences which complete the same idea.</p>
            
            
        </div>
        
        
        <div class = "row">
            <div class = 'container content col-md-6 col-md-offset-3 '>
                
                <p>I am eating pizza.&emsp; &emsp; &emsp; &emsp; &emsp;<i>Ich esse 
                Pizza.</i></p>
                <p>I like spoons.&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; <i>Ich mag Löffel.
                </i></p>
                <p>Help! Help!  I need help! &emsp; &emsp; &emsp; 
                <i>Hilfe! Hilfe!  Ich brauche Hilfe!</i></p>
                <p>You're hanging the picture on the wall.&emsp; &emsp; <i>Du hängst das Bild an der Wand.</i></p>
                <p>We are playing soccer at 11 o'clock.&emsp; &emsp; <i>Wir spielen Fu&szlig;ball um 11 Uhr.</i></p>
                
            </div>
            
           
            
            <div class = "container" id = 'about-container'>
                <div id = 'about-button'>    
                    <%= link_to about_path, class: 'btn' do %>
                        About the Author
                    <% end %>
                </div>    
            </div>
        </div>
        
        <div class = "container content">
            <p>As you might already know, a sentence must have a <span class = "blue">subject</span>
            and a <span class = "red">verb</span>.  Let's look at the same sentences,
            but this time with the subjects highlighted in <span class = "blue">blue</span>,
            and the verbs highlighted in <span class = "red">red.</span></p>
        </div>
        <div class = "row">
            <div class = 'container content col-md-6 col-md-offset-3 '>
                
                <p><span class = "blue">I</span> am eating pizza.&emsp; &emsp; 
                &emsp; &emsp; &emsp;<i><span class = "blue">Ich</span> <span class = "red">esse</span> 
                Pizza.</i></p>
                <p><span class = "blue">I</span> <span class = "red">like</span> spoons.
                &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; <i><span class = "blue">Ich</span>
                <span class = "red">mag</span> Löffel.</i></p>
                <p>Help! Help!  <span class = "blue">I</span> <span class = "red">need</span>
                help! &emsp; &emsp; &emsp; 
                <i>Hilfe! Hilfe! <span class = "blue">Ich</span> <span class = "red">brauche</span>
                Hilfe!</i></p>
                <p><span class = "blue">You</span> <span class = "red">are hanging</span>
                the picture on the wall.&emsp; &emsp; <i><span class = "blue">Du</span>
                <span class = "red">hängst</span> das Bild an der Wand.</i></p>
                <p><span class = "blue">We</span> <span class = "red">are playing</span>
                soccer at 11 o'clock.&emsp; &emsp; <i><span class = "blue">Wir</span>
                <span class = "red">spielen</span> Fu&szlig;ball um 11 Uhr.</i></p>
                
            </div>
        </div>
        
        <div class = "container content">
            <p>In German, there aren't helping verbs.  If you were to try to translate
            the first sentence above by saying, "<i>Ich bin esse Pizza!</i>", I'd
            say "<i>Quatsch!</i> (That's nonsense!)"  That's probably what other 
            people would say, too.  So remember: No helping verbs! </p>
        </div>
        
        <div class = "container">
            <h2><br><br>Questions</h2>
        </div>
        
        <div class = "container content">
            <p>Sometimes, we need to aquire information that is unknown to us; 
            questions can be very useful for doing this.  So, lets look at how to
            ask questions, in German!<br>You may have noticed that, in the sentences above, the red words-
            verbs- are always in the second posiition.  This is a general rule for
            German, and this rule also applies to questions.  That's right- the 
            verb will, in most cases, be in the second position of the sentence.
              Let's practice.</p>
        </div>
        
        <div class = "row">
            <div class = 'container content col-md-6 col-md-offset-3 '>
                <p>What is that? &emsp; &emsp; &emsp; &emsp; <i>Was <span class = "red">ist </span> das?</i></p>
                <p>What's your name?&emsp; &emsp; &emsp;  <i>Wie <span class = "red">hei&szlig;t</span> du?</i> </p>
                <p>Where is he from? &emsp; &emsp;  <i>Woher <span class = "red">kommt</span> er?</i></p>
            </div>
        </div>
        
        
    <!--</div>-->
    
    