<div class = "jumbotron text-center" style = "background: black; " id = 'head'>
    <h1 style = "color:#eeeeee;">Cases</h1>
</div>

<!--<div class = 'jumbotron content-exterior' style = "background-color: red; margin-bottom: 0;">-->
        <div class = "container">
            <h2>Cases</h2>
        </div>
        <div class = 'container content'>
            <p>In German, each noun has a gender: masculine, feminine, and nuter, with articles: <i>der</i>, <i>die</i>, or <i>das</i>.
            However, these genders can change based on which part of speach in which the
            noun is used. Let's look at an three words- all of which are of gender masculine: <i>der Bleistift, der Computer</i>, and<i> der Pulli.</i></p>
            
            
        </div>
        
        <div class = "row">
            <div class = 'container content col-md-6 col-md-offset-3 '>
                <p>The pencil is yellow.&emsp; &emsp; &emsp;<i> <span class = "blue">Der</span> Bleistift ist gelb. </i></p>
                <p>I'm using the computer.&emsp; &emsp; &emsp; <i>Ich benutze <span class = "blue">den</span> Computer. </i></p>
                <p>There is mustard on that sweater!&emsp; &emsp; &emsp;<i> Es gibt Senf an <span class = "blue">dem</span> Pulli!</i></p>
            </div>
        </div>
        
        <div class = 'container content'>
            <p>What's going on?  Why do words of the same gender have different
            articles in front of them? This is because the article changes with
            the part of speach.  If a noun is the subject of the sentence, it is
            case <i>nominitiv</i>.  If it is the direct object, it is case <i>akkusitiv</i>.
            And if it is the indirect object, it is case <i>dativ</i>.  There is 
            a table of all the different der-words we use for different cases below.
        </div>
        <div class = "row">
            <div class = 'container content col-md-6 col-md-offset-3 '>
                <table class="table table-bordered">
                    <tr>
                        <th id = "flag"></th>
                        <th>Masculine</th>
                        <th>Feminine</th>
                        <th>Neuter</th>
                        <th>Plural</th>
                    </tr>
                    <tr>
                        <th>Nominative</th>
                        <td>der</td>
                        <td>die</td>
                        <td>das</td>
                        <td>die</td>
                    </tr>
                    <tr>
                        <th>Akkusitiv</th>
                        <td>den</td>
                        <td>die</td>
                        <td>das</td>
                        <td>die</td>
                    </tr>
                    <tr>
                        <th>Dativ</th>
                        <td>dem</td>
                        <td>der</td>
                        <td>dem</td>
                        <td>den</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = 'container content'>    
           <p> A lot of the
            time, we don't really pay attention to these different cases in English,
            so identifying them can be a bit tricky at first.  Think of it like this:
            <br><br> The subject is the noun that does the verb.<br> The direct object
            is the noun to which the verb gets "done" by the subject.<br>The indirect
            object is the noun to or for which the verb is done.  <br><br>A bit confusing, right?
            Let's take a look at an example, in English.</p>
            
            
        </div>
        
        <div class = "row">
            <div class = 'container content col-md-6 col-md-offset-3 '>
                <p>The boy gave his dog a bone.</p>
            </div>
        </div>
        
        <div class = 'container content'>
            
        </div>
        
        <div class = "container" id = 'about-container'>
            <div id = 'about-button'>    
                <%= link_to about_path, class: 'btn' do %>
                    About the Author
                <% end %>
            </div>    
        </div>
        
    <!--</div>-->

