<div class = "jumbotron text-center" style = "background: black; " id = 'head'>
    <h1 style = "color:#eeeeee;">A Guide to German Grammar</h1>
    <h3 style = "color: #eeeeee;"><i>Hinweis der Deutsche Grammatik</i></h3>
</div>

<body id = "home">
    
    
    <!--<div class = 'jumbotron content-exterior' style = "background-color: red; margin-bottom: 0;">-->
        <div class = 'container content'>
            
            <h3><i><b>Wilkommen!</b></i></h3>
            
            <p><i>Herzlich Wilkommen ins Hinweis der deutschen Grammatik!</i></p>
            
            <p>Here lies (almost) everything you need to know about German grammar, all 
            in one place!  My goal here is to provide an all-inclusive, 
            easy-to-reference guide of the German language, but right now it is
            pretty simple and incomplete, so hold your horses.</p>
            
            
             <p><i>Viel Spa&szlig;!</i></p>
            
            
        </div>
        
        <div class = "container" id = 'about-container'>
            <div id = 'about-button'>    
                <%= link_to about_path, class: 'btn' do %>
                    About the Author
                <% end %>
            </div>    
        </div>
        
    <!--</div>-->
</body>