@import "bootstrap-sprockets";
@import "bootstrap";

html, body {height: 100%;
    font-family: "CamingoWeb";
}



.navbar{
   //top: -90px;
   position: fixed;
   clear:both;
    
}

.jumbotron{
    position: relative;
    background-color: black;    
   //opacity: .9;
    
    
}

.content{
    
    background-color: yellow;
    opacity: .6;
    margin-bottom: 0;
    margin: 5px;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
    font-family: "CamingoWeb";
    

}

.content-exterior{
     top: -30px;
     //background-color: red;
     //height: 100%;
     font-family: "CamingoWeb";
     margin: 0;
     
}

p{
    color: black;
    font-size: 1.3em;
}


h2{
    color: white;
}
table{
    margin-top: 20px;
    border: 5px solid black;
}
.btn{
    background-color: yellow;
    opacity: .7;
}

.dropdown-ele{
    color: #eeeeee;
    
}
.blue{color: blue;}
.red{color: red;}

#about-button{
   
   position: fixed;
   bottom: 0;
   right: 0;
 
}

#flag{
   

 background-color:#000000;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000, endColorstr=#ff0000);
 background-image:-moz-linear-gradient(top, #000000 38%, #ff0000 57%,#f0f000 81%);
background-image:linear-gradient(top, #000000 38%, #ff0000 57%,#f0f000 81%);
background-image:-webkit-linear-gradient(top, #000000 38%, #ff0000 57%,#f0f000 81%);
background-image:-o-linear-gradient(top, #000000 38%, #ff0000 57%,#f0f000 81%);
background-image:-ms-linear-gradient(top, #000000 38%, #ff0000 57%,#f0f000 81%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(38%,#000000), color-stop(57%,#ff0000),color-stop(81%,#f0f000));
}